parameters:
    site_builder_url: http://sitebuilder-dev.ebti.co/
    site_builder_login: autotest
    site_builder_password: 6tES8Nh7q7mXOL6
    domain_reg_deployer_url: http://domain-reg-deployer.lvlp.co
    domain_reg_deployer_login: autotest
    domain_reg_deployer_password: 6DyMZ9
    test_slot_url: testul.co
    path_for_screenshots: /../../_output/
    mapcont_url: http://stage.mapcont.wiseweb.co/
    mapcont_login: autotest
    mapcont_password: autotest
    origin: qa_origin
    preset_name: seleniumPreset
    posting_name: seleniumPosting
    menu_name: seleniumMenu
    cms_type: WordPress
    page_extension: 3 # 1 => php, 2 => asp, 3 => html, 5 => htm
